@font-face {
    font-family: poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
}

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    opacity: 1;
    font-family: poppins;
    font-size: 16px;
}

main{
    display: flex;
    width: 50%;
    margin: auto ; 
    justify-content: center;
    height:100vh;
    align-items: center;
}

.container-1{
    color: white;
    width: 50%;
    padding: 20px;
    
    justify-content: center;
}
h1{
    font-size: 3.4em;
}
.container-2{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.item-top{
    background-color: hsl(248, 32%, 49%);
    font-size: 16px;
    padding:1.2em;
    margin-bottom: 2em;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.item-bottom{
    background-color: white;
    padding:1.4em;
    border-radius: 10px;
}
form input{
    margin: 1.2em;
    width: 80%;
    padding: 1.2em;
}
button{
    padding: 1.2em;
    width: 90%;
    margin:1.2em;
    background-color: hsl(154, 59%, 51%);
    border: solid 2px green;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.terms-text{
    font-size: 10px;
    text-align: center;
}
a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/*Form Validation*/

/* .form-control {
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
  } */
  
  /* .form-control label {
    display: inline-block;
    margin-bottom: 2px;
    font-size: 1.5rem;
  }
   */
  /* .form-control input {
    border: 2px solid #8f8d8d;
    border-radius: 5px;
    display: block;
    width: 100%;
    font-size: 0.8rem;
    padding: 2%;
  } */
  
  .form-control.success input {
    border: 2px solid rgb(76, 240, 76);
  }
  
  .form-control.error input {
    border: 2px solid rgb(236, 52, 52);
  }
  
  .form-control i {
    position: absolute;
    top: 37px;
    right: 10px;
    visibility: hidden;
  }
  
  .form-control.success i.fa-check-circle {
    visibility: visible;
    color: rgb(76, 240, 76);
  }
  
  .form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: rgb(236, 52, 52);
  }
  
  .form-control small {
    position: absolute;
    visibility: hidden;
  }
  
  .form-control.error small{
      visibility: visible;
      color: rgb(236, 52, 52);
  }
  