@font-face {
    font-family: poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    opacity: 1;
    font-family: poppins;
    font-size: 16px;
}

main{
    display: flex;
    width: 60%;
    margin: auto ;
     text-align: center; 
    justify-content: center;
    height:500px;
    align-items: center;
    border: 2px green solid;
}

.container-1{
    color: white;
    border: 2px solid black;
    
    padding: 20px;
    /* align-items: center; */
    justify-content: center;
}
.container-2{
    display: grid;
    height: 400px;
    border: 2px red solid;
}
.item-top{
    background-color: hsl(248, 32%, 49%);
    font-size: 16px;
    padding:5px;
    margin: 5px;
    height: 10px;
    color: white;
}
form{
    background-color: white;
    padding: 7px;
}